# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.pytest_cache/
.coverage
htmlcov/

# Node
node_modules/
.next/
out/
build/
.npm
*.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Databases and Local Storage
storage/
pg_data/
qdrant_data/
.qdrant/

# Generated Datasets
dataset/
downloaded_images/
logs/

# OS-specific
.DS_Store
Thumbs.db
